{{define "aboutUs"}}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <link href="static/css/styleform.css" rel="stylesheet">
        <title>Tentang Kami</title>
    </head>
    <body>
        <div class="navbar">
        </div>
      <div class="div1" style="-ms-flex-align: center;">
            <a href="../">< Kembali</a>
            <h1 class="heading">Profil Usaha</h1>
            <br>
      </div>
        <div class="desc">
            <t>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus venenatis turpis sit amet turpis rhoncus, non lacinia velit efficitur.
                 Pellentesque tortor lacus, aliquet ac consectetur ac, ornare sed tellus. Integer vitae magna lectus. Phasellus consectetur augue justo, 
                 in efficitur arcu venenatis nec. Morbi tincidunt, nulla et facilisis pharetra, mauris turpis elementum felis, sit amet commodo augue 
                 sem quis purus. Pellentesque porta velit nec orci posuere, consectetur varius sem egestas. Fusce tempor eros sapien, sed cursus tellus 
                 consectetur vulputate. Proin posuere ornare orci. Cras laoreet semper ex at tincidunt. Suspendisse quam lacus, varius sit amet odio sed,
                  molestie ornare magna.
            </t>
        </div>
        <footer>
            <div class="col">
              <p>Company Profile</p>
              <ul>
                <li>About Us</li>
                <li><a href = policy>Privacy Policy</a></li>
              </ul>
            </div>
            <div class="col">
              <p>Contact Us</p>
              <ul>
                <li><a href="https://maps.google.com" target="_blank">Address</a></li>
                <li><a href="https://mail.google.com" target="_blank">Email</a></li>
              </ul>
            </div>
          </footer>
          <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
          <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>    
    </body>
</html>
{{end}}

{{define "policy"}}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <link href="static/css/styleform.css" rel="stylesheet">
        <title>Persetujuan</title>
    </head>
    <body>
        <div class="navbar">
        </div>
      <div class="div1" style="-ms-flex-align: center;">
             <a href="../">< Kembali</a>
             <h1 class="heading">Persetujuan Pengguna</h1>
             <br>
      </div>
        <div class="desc">
            <t> Consectetur adipiscing elit, lorem ipsum dolor sit amet. Non lacinia velit efficitur, phasellus venenatis turpis sit amet turpis rhoncus. 
                Ornare sed tellus, pellentesque tortor lacus, aliquet ac consectetur ac. Integer vitae magna lectus. In efficitur arcu venenatis nec, 
                phasellus consectetur augue justo. Sit amet commodo augue sem quis purus, mauris turpis elementum felis, nulla et facilisis pharetra, 
                morbi tincidunt. Consectetur varius sem egestas, pellentesque porta velit nec orci posuere. Sed cursus tellus consectetur vulputate, 
                fusce tempor eros sapien. Cras laoreet semper ex at tincidunt. Proin posuere ornare orci. Varius sit amet odio sed, molestie ornare magna, 
                suspendisse quam lacus.
            </t>
        </div>
        <footer>
            <div class="col">
              <p>Company Profile</p>
              <ul>
                <li><a href = about>About Us</a></li>
                <li>Privacy Policy</li>
              </ul>
            </div>
            <div class="col">
              <p>Contact Us</p>
              <ul>
                <li><a href="https://maps.google.com" target="_blank">Address</a></li>
                <li><a href="https://mail.google.com" target="_blank">Email</a></li>
              </ul>
            </div>
          </footer>
          <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
          <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>    
    </body>
</html>
{{end}}